body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7e2e2;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.cont {
    display: flex;
    background-color: #f1efef;
}

#nav {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#nav li {
    list-style-type: none;
}

#left-side {
    border: 1px solid red;
    width: 25%;
    height: 700px;
}

.component {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.main {
    flex: 1;
    padding: 20px;
    border: blue 2px solid;
    background-color: rgb(233, 229, 229);
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-element {
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    cursor: pointer; /* Ensure pointer cursor */
}

.form-element[draggable="true"] {
    cursor: grab; /* Cursor should be grab when the element is draggable */
}

.form-element[draggable="true"]:active {
    cursor: grabbing; /* When the element is being dragged, cursor should be grabbing */
}

.delete-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: red;
}

input,
select,
textarea {
    width: 100%;
    margin-top: 5px;
}

.preview-container {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.copy-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.copy-btn:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.buton {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}
