body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7e2e2;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-mode {
    background-color: #333;
    color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container {
    display: flex;
    height: calc(100vh - 50px);
}

#left-side {
    width: 25%;
    background: white;
    padding: 15px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.component {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.main {
    flex: 1;
    padding: 20px;
    background-color: rgb(233, 229, 229);
}

.form-container {
    background: white;
    margin: auto;
    padding: 20px;
    min-height: 50px;
    width: 85%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-element {
    position: relative;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    cursor: grab;
}

.delete-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: red;
    background: none;
    border: none;
}

input,
select,
textarea {
    width: 100%;
    margin-top: 5px;
}

.button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
